:coffeescript
  aws_wss = "ws://162.243.120.86:443"
  window.socket = undefined;
  
  $ ->
    alertify.notify "Hello World"
    $("form").submit (event)->
      event.preventDefault()
    # YOUR CODE HERE
    
    # Connect button event
      alertify.notify "Connecting to socket"
      socketObj = start_socket()
      window.socket = true
      # alertify.success "Successfully connected to socket"
    
      # Directional pad event
      $(".field#directional-pad button").click (event)->
        # event.preventDefault()
        
        # Validate
        if window.socket != true
          alertify.error "Socket does not exist. Connect first"
          return
          
        dir = event.currentTarget.name
        colorVal = $("#remote.ui.form input.ui.input").val()
        remoID = $("#remote.ui.form input[name='remote_id']").val()
        
        if remoID == ""
          alertify.error "Please specify a remote ID"
          return
        
        
        # Create a request obj
        requestObj = {}
        requestObj.action = "move"
        requestObj.direction = dir
        requestObj.remote_id = remoID
        requestObj.color_id = colorVal
        
        if socketObj.readyState == WebSocket.OPEN
          
          stringifyObj = JSON.stringify(requestObj)
          
          # Send the request, stringify
          socketObj.send stringifyObj
          console.log "Server << " + stringifyObj
        
  
  
  start_socket = ()->
    console.log "ATTEMPTING CONNECECTION ON " + aws_wss
    webSocketObj = new WebSocket( aws_wss )
    console.log "OPENED WEBSOCKET"
    
    webSocketObj.onopen = (event) ->
      $("#remote.ui.form button.ui.button#connect").addClass("disabled green")
      $("#remote.ui.form button.ui.button#connect").removeClass("red")
    
    webSocketObj.onclose = (event) ->
      $("#remote.ui.form button.ui.button#connect").addClass("red")
      $("#remote.ui.form button.ui.button#connect").removeClass("disabled green")
    
    webSocketObj.onmessage = (event) ->
      dataObj = JSON.parse(event.data)
      console.log "Server >>", dataObj
      
    
    webSocketObj.onerror = (event) ->
      alertify.error event.data
      
    return webSocketObj
    
  
/ DO NOT MODIFY CODE BELOW THIS LINE
.mobile
  .hero
    %form#remote.ui.form
      %input{name: "action", type:"hidden", value:"move"}
      .field
        .ui.input.action.fluid
          %input{name: "remote_id", type:"number", placeholder: "ID"}
          %button.ui.button#connect Connect
        .field
          %input.ui.input{name: "color_id", type:"color"}
          
    .field#directional-pad
      %button.ui.button.icon.circular.dummy
        %i.icon
      %button.ui.button.icon.circular{name:"up"}
        %i.icon.arrow.alternate.circle.up
      %button.ui.button.icon.circular.dummy
        %i.icon
      %button.ui.button.icon.circular{name:"left"}
        %i.icon.arrow.alternate.circle.left
      %button.ui.button.icon.circular.dummy
        %i.icon
      %button.ui.button.icon.circular{name:"right"}
        %i.icon.arrow.alternate.circle.right
      %button.ui.button.icon.circular.dummy
        %i.icon
      %button.ui.button.icon.circular{name:"down"}
        %i.icon.arrow.alternate.circle.down
      %button.ui.button.icon.circular.dummy
        %i.icon
      
:scss
  html{
    font-size: 18pt; /* Root size */
  }
  
  html, body, .mobile{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
  }
  input[type="color"]{
    height: 60px;
  }
  #remote{
    width: 100%;
  }
  .hero{
    padding: 30px;
    height: 100%; 
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  #directional-pad{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    button{
      margin: 0;
      flex-basis: 33.33%;
      height: 90px;
      font-size: 2em;
      &.dummy{
        visibility: hidden;
      }
    }
  }
    